<nav id="sidebar">
  <div class="sidebar-header">
    <h1 style='color:#ffffff; font-size:35px'>
      <strong>&nbsp&nbsp&nbsp&nbsp&nbspCovid-19</strong>
    </h1>
  </div>

  <ul class="list-unstyled components">
    <li class="{{#if active.patients}}active{{/if}}">
      <a href="/manager/patients">
        <i class="fa fa-users"></i>
        List of people involved
      </a>
    </li>
    <li class="{{#if active.products}}active{{/if}}">
      <a href="/manager/products">
        <i class="fas fa-hotdog"></i>
        Necessary products
      </a>
    </li>

    <li class="{{#if active.packets}}active{{/if}}">
      <a href="/manager/packets">
        <i class="fas fa-archive"></i>
        Packages of necessities
      </a>
    </li>

    <li class="{{#if active.report}}active{{/if}}">
      <a href="/manager/report">
        <i class="fa fa-area-chart "></i>
        Statistical
      </a>
    </li>
    <li class="{{#if active.payment}}active{{/if}}">
      <a href="/manager/payment">
        <i class="fa fa-credit-card " aria-hidden="true"></i>
        Payment Management
      </a>
    </li>
    <li>
      <a href="/manager/signout">
        <i class="fas fa-sign-out-alt"></i>
        Log out
      </a>
    </li>
  </ul>
</nav>
