<nav id="sidebar">
  <div class="sidebar-header">
    <h1 style='color:#f5f0f0'>
      <i><img src="https://img.icons8.com/emoji/48/000000/microbe.png"/></i>
      Covid-19
    </h1>
  </div>

  <ul class="list-unstyled components">
    <li class="{{#if active.patients}}active{{/if}}">
      <a href="/manager/patients">
        <i class="fa fa-users"></i>
        Danh sách người liên quan
      </a>
    </li>
    <li class="{{#if active.products}}active{{/if}}">
      <a href="/manager/products">
        <i class="fas fa-hotdog"></i>
        Các sản phẩm nhu yếu phẩm
      </a>
    </li>

    <li class="{{#if active.packets}}active{{/if}}">
      <a href="/manager/packets">
        <i class="fas fa-archive"></i>
        Các gói nhu yếu phẩm
      </a>
    </li>

    <li class="{{#if active.report}}active{{/if}}">
      <a href="/manager/report">
        <i class="fa fa-area-chart "></i>
        Thống kê thông tin
      </a>
    </li>
    <li class="{{#if active.payment}}active{{/if}}">
      <a href="/manager/payment">
        <i class="fa fa-credit-card " aria-hidden="true"></i>
        Quản lí thanh toán
      </a>
    </li>
    <li>
      <a href="/manager/signout">
        <i class="fas fa-sign-out-alt"></i>
        Đăng xuất
      </a>
    </li>
  </ul>
</nav>